.stats{
    background-color:   crimson;
    padding: 10px;
    border-radius: 20px 0 0 20px ;
    width: 20%;
}
.statContainter{
    display: flex;
    padding-bottom: 5px;
    width: 100% ; 
    text-align: center;
}
.divStats
{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.divColumn{
    display: flex ;
    flex-direction: column;
    width: 30%;
    align-items: center;
    padding-top: 20px;
}
input{
    border-radius: 0 20px 20px 0;
    padding-right: 20px;
    width: 50%;
}
h2{
    margin-top: 0%;
    color: teal;
}
ul{
    margin :0 ;
    text-shadow: 1px 1px red;
    color: goldenrod;
    color: blueviolet;
    font-family: fantasy;
    line-height: 3.5;
    word-spacing: 2px;
    list-style: none;
}
.listStyle>li{
    color: blueviolet;
    font-family: fantasy;
    line-height: 3.5;
    word-spacing: 2px;
    list-style: none;
    background-image:url("C:/Users/Kwiatek/Desktop/star.png");
    background-position: 5px 20px ;
    background-size: 1.0rem;
    background-repeat: no-repeat;
    padding-left: 2rem;
}
