.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(184, 169, 198);
    min-height: 100px;
    width: 100%;
}

.area1{
    height: 80%;
}
.nazwa1{
    max-width: fit-content;
    height: 100%;
}

.nazwa{
    text-align: center;
    margin-inline:10px ;
}

.nazwa1, .area1{
    border: solid rgb(141, 101, 101);
    text-align: center;
    width: auto;
    margin: 0;
    padding: 0;
}
.KartaPostaci{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
    width: 20%;
}
.reszta{
    width: 80%;
    display: flex;
    margin-right: 5px;
    margin-left: 15%;
    
}